@import url("https://fonts.googleapis.com/css2?family=Museo-sans-rounded:wght@200;300;400;500;600;700;800&display=swap");

@keyframes blink {
  0%   {color: #FFFFFF;}
  25%  {color: #FDD935;}
  50%  {color: #FFFFFF;}
  100% {color: #FDD935;}
}

html{
	overflow-x: hidden;
	height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.home {
  	background-color: black;
}

.top {
    width: 100%;
 }

.home .thrivy-logoyelo {
    height: 110px;
    width: 110px;
    margin-left: 2%;
}

.thrivy {
    letter-spacing: 0px;
    line-height: 18px;
    text-align: center;
    /* width: 100%; */
    width: 80%;
    color: #FDD935;
}

.museosansrounded900-regular-normal-white-18px {
    color: #FDD935;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.top .flex-row {
    align-items: center;
    align-self: center;
    display: flex;
    min-width: 1258px;
    background-color: black;
}

/* The navigation menu */
.navbar {
	width: 300px;
	height: 100%;
	background-color: white;
	opacity: 92%;
	z-index: 1;
	
	/* Defining the position on the right hand side */
	position: fixed;
	top: 0;

	/* Hiding the navigation bar on default */
	right: -300px;

	/* Centering the items in the middle of the navigation bar */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Customizing the shape of the navigation bar */
	/* 4 values for 4 different corners */
	border-radius: 60% 0 0 60%; 

	/* To make the animation smoother */
	/* cubic-bezier allows us to customize own transition */
	/* parameters in cubic-bezier indicates speed of animation */
	transition: right 0.8s cubic-bezier(1, 1, 0, 1);
}

/* To display the naviagtion menu upon clicking the icon */
.change {
	right: 0;
}

/* The overall hamburger icon */
.hamburger-menu {
  	width: 35px;
  	height: 30px;
  	
  	/* Defining the position on the right hand side */
  	position: fixed;
  	top: 50px;
  	right: 50px;
  	
  	cursor: pointer;

  	/* To separate the lines and give some space in between */
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
 }

/* The line in the hamburger icon */
.line {
  	/* line will take up the space of the enitre element (35px) */
  	width: 100%;
  	height: 3px;
  	background-color: #FDD935;

  	/* To make the animation smoother */
  	transition: all 0.8s;
}

/* Changing the hamburger menu icon into x buttton */
.change .line-1 {
	transform: rotateZ(-45deg) translate(-8px, 6px);;
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	transform: rotateZ(45deg) translate(-8px, -6px);
}

/* Editing the layout of the navigation options */
.nav-list {
	text-align: right;
}

.nav-item {
	list-style: none;
	margin: 25px;
}

.nav-link {
	text-decoration: none;
	font-size: 25px;
	color: black;
	padding: 3px 0;

	/* Font */
	/* Delete when figure out how to use font face */
	font-family: museo-sans-rounded, sans-serif;
	font-weight: 400;
	text-transform: uppercase;

	/* To display both lines */
	position: relative;	
}

/* Creatting the line effect */
.nav-link::before, .nav-link:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #FDD935;
	left: 0;
	
	/* To make it visible */
	position: absolute;

	/* To hide lilnes at first */
	transform: scaleX(0);

	/* To make the animation smoother */
	transition: transform 0.5s;
}

/* To separate the two lines */
/* To make them enter from opposite directions */
.nav-link::after {
	bottom: 0;
	transform-origin: right;
}
 
.nav-link::before {
	/* by default, top is automatically defined as 0 */
	top: 0; 
	transform-origin: left;
}

/* To cdisplay the hover effects */
.nav-link:hover::before, .nav-link:hover::after {
	transform: scaleX(1);
}

.nav-link:hover {
	color: #FDD935;
}

/* -------------------------------------------------------- */

body {
	margin: 10px;
	font-family: "Museo-sans-rounded", sans-serif;
	background-color: black;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.row {
	display: fles;
	flex-wrap: wrap;
}

.shop {
	background-color: black;
	padding: 100px 7px;
}

.section-title {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;

	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
}

.text-center {
	text-align: center;
}

/*
.section-title h1 {
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	margin: 0 0 5px;
	position: relative;
}

.section-title h1:before {
	content: 0;
	left: 0;
	position: absolute;
	height: 1px;
	right: 2%;
	background-color: blue;
	bottom: 0px;
}

.shop .section-title h1:before {
	left: 30% ;
}
*/

.shop .filter-buttons {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.shop .filter-buttons ul {
	list-style: none;
	text-align: center;
	padding: 0; 
}

.shop .filter-buttons ul li {
	color: white;
	font-weight: 500;
	display: inline-block;
	margin: 0px 8px;
	text-transform: uppercase;
	cursor: pointer;
	padding-bottom: 0px;
}

.shop .filter-buttons ul li.active {
	color: #FDD935;
	border-bottom: 2px solid #FDD935;
}

.shop .shop-gallery {
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.shop .shop-gallery .item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	position: relative;
	padding: 8px;
}

.shop .shop-gallery .item .inner{
	position: relative;
}

.shop .shop-gallery .item img {
	width: 100%;
	display: block;
}





